*{
    margin:0;
    padding:0 ;
     box-sizing: border-box;
}

body{
    background-color: rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 60px;
}


li{
    font-size: 50px;
}