*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #8A9A5B;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  

    text-align: left;
    font-family: Papyrus, "Palatino Linotype", fantasy;

}

h1{
    margin-bottom: 3vh;
}