body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: Papyrus, "Palatino Linotype", fantasy;
}

div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a{
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: rgb(0,0,0);
    transition: 200ms all ease-in-out;
}

a:hover{
    transform: scale(1.2);
}