*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgb(125,25,50), rgb(150,0,150));
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;    
}
